
:root {
  --background-color: #333333;
}

body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background-color: var(--background-color);
  color: white;
  --color: white;
  font-size: large;
}

.container {
  display: flex;
}

fieldset {
  margin: 0.4rem;
  border-color: var(--color);
  color: var(--color);
}
a, span, div {
  color: var(--color);
}

.asciicss input[type="radio"] {
  appearance: none;
  width: 0.45rem;
  height: 0.45rem;
  outline: 2px solid var(--color, currentColor);
  outline-offset: 3px;
  border-radius: 50%;
}

.asciicss input[type="radio"]:checked {
  background-color: var(--color);
}

.asciicss input[type="radio"]:hover {
  --color: #eaeaea;
}

.is-red{--color: #ea8e8e;}

.is-blue{--color:#8e8eea;}

.is-green{--color:#8eea8e;}

.is-yellow{--color:#eaea8e;}

.is-lazure{--color:#8eeaea;}

.is-pink{--color: #ea8eea;}

.is-orange{--color:#eac68e;}

.is-white{--color:#eaeaea;}

a:hover, a:hover span {
  color: #eaeaea;
}

div {
  margin-left: 0.2rem;
}

body {
  display: flex;
}

aside {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  overflow-y: auto; 
}

main {
  flex: 4;
  margin-left: 200px;
}

input[type="checkbox"] {
  font-family: monospace;
  font-size: large;
  color: var(--color);
  appearance: none;
  margin: 0rem;
}
 
 input[type="checkbox"]::before {
  content: '[ ]';
  white-space: nowrap; 
}
 
 input[type="checkbox"]:checked::before {
  content: '[x]';
  white-space: nowrap; 
} 

h1, h2, h3 {margin: 0rem;}

button {
  background-color: var(--background-color);
  color: var(--color);
  border: 2px solid var(--color); 
  padding: 0.3rem;
}
button:hover {
  color: #eaeaea;
  border-color:#eaeaea; 
}